
$blue-bg: linear-gradient(180deg, #F3F3FB 0%, #FDFBFD 100%);
$white: #FFFFFF;
$black: #0D1C2E;
$gray: #707C97;
$gray-light: #FAFBFF;
$blue-100: rgba(42, 139, 242, .25);
$blue-500: #2A8BF2;
$red-100: rgba(255, 51, 102, 0.25);
$red-500: #FF3366;
$blue-white:  linear-gradient(96.78deg, #7CB8F7 0%, #2A8BF2 100%);
