@import '../../../app/styles/variables.scss';

.btn {
  font-size: 18px;
  font-weight: 400;
  color: $white;
  display: flex;
  align-items: center;
  height: fit-content;
  padding: 18px 25px;
  border: none;
  background: linear-gradient(92.68deg, #7CB8F7 0%, #2A8BF2 100%);
  box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
  cursor: pointer;
  
  &:hover {
    opacity: .9;
  }
}

.plus_icon {
  margin-right: 7px;
}